<div class="container">
  <div class="card-group">
    <div class="card link text-center bg-success text-white mb-5">
      <a routerLink="/farmacias/turno">
        <div class="card-body">

          <h3> Farmacias de turno </h3>
          <h4 class="display-4">
            <i class="fas fa-prescription-bottle-alt"></i>
          </h4>

        </div>
      </a>
    </div>
  </div>

  <div class="card link text-center bg-success text-white mb-5">
    <a routerLink="/clientes">
      <div class="card-body">
        <h3> Control Clientes</h3>
        <h4 class="display-4">
          <i class="fas fa-users"></i>

        </h4>
      </div>
    </a>
  </div>

  <div class="card link text-center bg-success text-white mb-5">
    <a routerLink="/comunicacion">
      <div class="card-body">
        <h3> Comunicacion Componentes</h3>
        <h4 class="display-4">
          <i class="far fa-comments"></i>

        </h4>
      </div>
    </a>
  </div>

</div>
